$navheight: 50px;

#nav {
	position: relative;
	width: 100%;
	top: 0px;
	padding: 6px 0px;
	background-color: $w;
	.list-inline {
		margin: 0px;
		height: $navheight;
		text-align: center;
		li {
			line-height: $navheight;
			padding: 0px 20px;
			vertical-align: middle;
			a {
				color: $gray0;
			}
			.fa {
				line-height: $navheight;
			}
		}

	}
	.logo .fa {
		font-size: 36px;
	}
}