// Base Colors
$c-w: #fff;
$c-gray0: rgb(50,50,50);
$c-gray1: rgb(60,60,60);
$c-gray2: rgb(70,70,70);
$body: rgb(245,245,245);


// Module Colors
$primary: #CF4647;
$secondary: #524656;

// Structure
$nav-height: 50px;