// Base Colors
$w: #fff;
$gray0: rgb(50,50,50);
$gray1: rgb(60,60,60);
$gray2: rgb(70,70,70);
$gray3: rgb(80,80,80);
$lightgray: rgb(245,245,245);


// Module Colors
$primary: #45ADA8;
$secondary: #524656;

// Structure
$nav-height: 50px;
$hero-height: 600px;